<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLServer" connectionString=""/>
    <add name="SSAServer" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <!-- Mode can be SQLServer or SSAS-->
    <add key="Mode" value="SQLServer"/>
    <!-- Authentication token for client-->
    <add key="Token" value="7ee88c36"/>
    <add key="Port" value="8888"/>
    <add key="Host" value="10.0.0.25" />
    <add key="LogResultDataSet" value="True" />
    <!-- see log4net.config for logging. visit http://logging.apache.org/log4net/ for log configuration documentation -->
  </appSettings>
</configuration>